:root {
    --first-color: #000000;
    --second-color: #263238;
    --text-color: #8F95A5;
    --background-color: #FFFFFF;
}

body {
    font-family: 'Poppins', sans-serif;
    
    color: var(--second-color);
    background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;

}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1338px;
    margin: 0 auto;
}
/* Header Nav */
.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    padding-top: 55px;
    padding-bottom: 55px;
}

.logo-header {
    font-size: 36px;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: auto;

    color: var(--first-color);

}
.header-table {
    display: flex;
}
.header-item + .header-item {
margin-left: 50px;
}
.header-links {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    
    color: var(--second-color);
}
.header-button {
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
    line-height: inherit;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--first-color);

    width: 312px;
    padding: 20px 56px;
    border: 2px solid var(--second-color);
    border-radius: 10px;

    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
}

/* Hero Title */
.hero-section {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    padding-bottom: 236px;
}
.hero-div {
    width: 540px;
    margin-right: 144px;
}
.hero-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
    
    color: var(--first-color);
    
    margin-bottom: 40px;
}
.hero-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 60px;


    color: var(--text-color);
}
.hero-button {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    
    width: 426px;
    height: 100px;
    color: var(--background-color);
    background-color: var(--second-color);
    
    border-radius: 10px;
    cursor: pointer;
}
/* Skills */
.skills-title1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: var(--first-color);
    text-align: center;
    margin-bottom: 60px;
    
}

.grid-table {
        display: grid;

        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;

        gap: 0px;
        height: 100%;
        text-align: start;

    }

.div1 {
        grid-row-start: 1;
        grid-column-start: 1;

        grid-row-end: 3;
        grid-column-end: 2;

    }
.img-speaking {
    margin-bottom: 24px;
}
.speaking-text {
    width: 347px;
}
.div2 {
        grid-row-start: 1;
        grid-column-start: 2;

        grid-row-end: 2;
        grid-column-end: 3;

    }
.img-writing {
    margin-bottom: 6px;
    width: 390;
    height: 254;
}
.writing-text {
    width: 340px;
}
.div3 {
        grid-row-start: 1;
        grid-column-start: 3;

        grid-row-end: 2;
        grid-column-end: 4;
        width: 426px;
        height: 579px;
    }
.img-reading {
    margin-bottom: 15px;
    width: 390px;
    height: 254px;
}
.reading-text {
    width: 359px;
}

.div4 {
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 4;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    padding: 25px 0;

    margin-top: 30px;
    margin-left: 30px;

    }
.skills-title {
    display: flex;
    justify-content: left;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
    color: var(--second-color);
    margin-bottom: 20px;
}
.listening-text {
    width: 324px;
}
.summary-learn-more {
    font-size: 18px;
    font-weight: 500;
    color: var(--background-color);
    list-style: none;
    text-align: center;
    padding: 15px 51px;
    
    margin-top: 30px;
    background: var(--second-color);
    border-radius: 10px;
    width: 218px;
    cursor: pointer;
}

/* About Us */
.about-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: var(--first-color);

    text-align: center;

    margin-bottom: 60px;
}
.about-text {
    font-size: 20px;
    line-height: 1.8;
    color: var(--text-color);

    width: 652px;
    margin-bottom: 30px;
    
}
.about {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    padding-bottom: 236px;
}
.about-list {
    display: inline;
}


